---
import "../styles/global.css";
import "@fontsource-variable/montserrat"; // Supports weights 100-900
import OGMeta from "../components/OGMeta.astro";

const {
  title = "Cloud 9 Aviation — Aircraft Rentals at Corona Municipal Airport",
  description = "Fly one of our Cessnas for training, adventures, or hours building.",
  image,
} = Astro.props;

---

<!doctype html>
<html data-theme="light" lang="en">
  <head>
    <!-- Sitemap -->
    <link rel="sitemap" href="/sitemap-index.xml" />
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-1L5JM7WNV8"></script>
    <script src="/scripts/gtag.js" is:inline></script>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
    <OGMeta
      title={title}
      description={description}
      image={image}
    />
  </head>
  <body>
    <slot />
  </body>
</html>
